body{
    padding: 0;
    margin: 0;

}

#registerLink {
    text-decoration: underline;
}

html, body{
    height: 100%;
    width: 100vw;
}


#mapid {
    height: 100vh;
    width: 100vw;
}


#mapinfo_container {
    height: 30%;
    max-height: 40vh;
}

#about_container {
    height: 20%;
    max-height: 25vh;
}

#disclaimer_container {
    height: 20%;
    max-height: 20%;
}

.snippet {

}

.snippet_text {
    color: brown;
}
.sidebarh2 {

}

.sidebarh3{
    margin-bottom: 0.5em;

}

.sidebarh4 {
    margin-top: 3em;
    margin-bottom: 0.5em;
}

#myControl {
    background-color: lightgrey;
}

#dayCounterControl{
  background-color: rgba(217, 217, 217, 0.85);
  padding: 15px;
  border-radius: 20px;
}

.dayCounter-content {
  /* background-color: lightgrey; */

  text-align: center;
  color: red;
  font-weight: bolder;
}

#dayCounter-count {
  /* font-weight:700; */
  font-weight: bold;
  font-size: 30px;
}

.popupInfoDiv {

}

.popupName {
  display: block;
}

.popupStatus {
  /* display: block; */
}

.popupTime {
  text-align: right;
  float: right;
}

.popupStory {
  margin-top: 10px;
  margin-bottom: 5px;

}
/*
.leaflet-popup-content-wrapper {
  max-width: 80vw;
  max-height: 80vh;
}

.popupStory {
  width: 90%;
} */
